@import "tailwindcss";

:root {
  --font-sans: 'Funnel Display', sans-serif;
  --primary-blue: #121D46;
  --secondary-blue: #0e3261;
  --light-gray: #FCFCFC;
  --cyan-300: #53EAFD;
  --fuchsia-600: #C800DE;
  --neutral-50: #FAFAFA;
  --cz-dark-base: #020618;
  --cz-default-gradient: linear-gradient(90deg, #C800DE 0%, #53EAFD 100%);
  --cz-border-gradient: linear-gradient(90deg,
      #c800de 10%,
      #53eafd 50%,
      #c800de 90%);
  --width-max-content: 1528px;
}

/* Make in-page anchor navigation smooth across the site */

/* *,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */

html {
  scroll-behavior: smooth;
  /* scrollbar-width: none; */
}

p,
a {
  font-size: 18px !important;
  line-height: 1.5 !important;
  letter-spacing: 0% !important;

}

p,
span,
h1,
h2,
h3,
h4,
h5,
h6,
li,
a,
button {
  text-wrap: pretty !important;
}

@media (max-width: 1280px) {

  p,
  a {
    font-size: 16px !important;
    letter-spacing: 0% !important;
  }
}


/* funnel-display-300 - latin */
@font-face {
  font-display: swap;
  font-family: 'Funnel Display';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/funnel-display-v3-latin-300.woff2') format('woff2');
}

/* funnel-display-400 - latin */
@font-face {
  font-display: swap;
  font-family: 'Funnel Display';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/funnel-display-v3-latin-regular.woff2') format('woff2');
}

/* funnel-display-500 - latin */
@font-face {
  font-display: swap;
  font-family: 'Funnel Display';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/funnel-display-v3-latin-500.woff2') format('woff2');
}

/* funnel-display-600 - latin */
@font-face {
  font-display: swap;
  font-family: 'Funnel Display';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/funnel-display-v3-latin-600.woff2') format('woff2');
}

/* funnel-display-700 - latin */
@font-face {
  font-display: swap;
  font-family: 'Funnel Display';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/funnel-display-v3-latin-700.woff2') format('woff2');
}

/* funnel-display-800 - latin */
@font-face {
  font-display: swap;
  font-family: 'Funnel Display';
  font-style: normal;
  font-weight: 800;
  src: url('/fonts/funnel-display-v3-latin-800.woff2') format('woff2');
}