/* @import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap'); */
@import "tailwindcss";

:root {
  --primary-blue: #121D46;
  --secondary-blue: #0e3261;
  --light-gray: #FCFCFC;
  --cyan-300: #53EAFD;
  --fuchsia-600: #C800DE;
  --neutral-50: #FAFAFA;
}

/* funnel-display-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Funnel Display';
  font-style: normal;
  font-weight: 300;
  src: url('./fonts/funnel-display-v3-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* funnel-display-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Funnel Display';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/funnel-display-v3-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* funnel-display-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Funnel Display';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/funnel-display-v3-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* funnel-display-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Funnel Display';
  font-style: normal;
  font-weight: 600;
  src: url('./fonts/funnel-display-v3-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* funnel-display-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Funnel Display';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/funnel-display-v3-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* funnel-display-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Funnel Display';
  font-style: normal;
  font-weight: 800;
  src: url('./fonts/funnel-display-v3-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


/* ensure images don't overflow
img {
  max-width: 100%;
  height: auto;
  display: block;
} */